<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing/style.css">
</head>

<body>
    <nav>
        <h2><a href='#'>Michał Irzyłowski</a></h2>z
        <ul>
            <li><a href='#abilities'>Umiejętności</a></li>
            <li><a href='#projects'>Projekty</a></li>
            <li><a href='/blog'>Blog</a></li>
            <li><a href='#contact'>Kontakt</a></li>
        </ul>
    </nav>
    <section class='hero'>
        <header>
            <h1>
                Michał Irzyłowski
            </h1>
            <p>
                Programista aplikacji internetowych
            </p>
            <button>
                Kontakt
            </button>
        </header>
    </section>

    <section class="abilities" id="abilities">
        <h3 class="title">Umiejętności:</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus rutrum pulvinar. Nunc pharetra congue lorem posuere elementum. Duis tincidunt quam sit amet risus consectetur rhoncus non id massa. Integer cursus vitae felis at varius. Sed sit amet eros sed arcu aliquet semper convallis eu dolor.</p>
        <hr>
        <ul class="grid">
            <li class="small" title="JavaScript"></li>
            <li class="large" title="Node.js"></li>
            <li class="large" title="HTML5 i CSS3"></li>
            <li class="small" title="Bootstrap 4"></li>
        </ul>
    </section>

    <section class="projects" id="projects">
        <h3 class="title">Projekty:</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus rutrum pulvinar. Nunc pharetra congue lorem posuere elementum. Duis tincidunt quam sit amet risus consectetur rhoncus non id massa. Integer cursus vitae felis at varius. Sed sit amet eros sed arcu aliquet semper convallis eu dolor.</p>
        <hr>
        <ul class="grid">
            <li>
                <img class="project_image" src='images/for_testing_purposes.jpg'>
                <h4>Blog</h4>
                <p>Użyte technologie: node.js, express.js, npm, JavaScript, HTML5 i CSS3</p>
            </li>
            <li>
                <img class="project_image" src='images/for_testing_purposes.jpg'>
                <h4>Yelp Camp</h4>
                <p>Użyte technologie: node.js, express.js, npm, JavaScript, HTML5 i CSS3</p>
            </li>
            <li>
                <img class="project_image" src='images/for_testing_purposes.jpg'>
                <h4>Pokoje u Eli</h4>
                <p>Prosta strona internetowa zbudowana na zlecenie. Użyte technologie: HTML5, CSS3 i Javascript</p>
            </li>
            <li>
                <img class="project_image" src='images/for_testing_purposes.jpg'>
                <h4>Lecznica weterynaryjna</h4>
                <p>Użyte technologie: node.js, express.js, npm, JavaScript, HTML5 i CSS3</p>
            </li>
        </ul>
    </section>

    <section class="contact" id="contact">
        <h3 class="title">Kontakt:</h3>
        <hr>
        <form>
            <label for='name'>Imię:</label>
            <input type='text' placeholder='Example' id='name'>
            <label for='email'>Mail:</label>
            <input type="email" placeholder="example@example.com" id='email'>
            <label for='content'>Wiadomość:</label>
            <textarea id='content'></textarea>
            <button>Wyślij!</button>
        </form>
    </section>

    <footer>
        <p>Obraz w nagłówku dzięki uprzejmości: <a href='#'>www.pixabay.com</a></p>
        <p>Dalej nie ma nic więcej interesującego:)</p>
        <ul>
            <li><a href='#'><i class='fab fa-linkedin-in fa-2x'></i></a></li>
            <li><a href='#'><i class='fab fa-github fa-2x'></i></a></li>
            <li><a href='#'><i class='fab fa-facebook-messenger fa-2x'></i></a></li>
        </ul>
    </footer>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</html>
